* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    color: #333;
    line-height: 1.5;
    scroll-behavior: smooth;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    padding: 0.75rem 0;
    margin-bottom: 2rem;
    color: #ff00c2;
}

h3 {
    font-size: 1rem;
    text-transform: uppercase;
    color: #11cf9d;
 
}

p {
    line-height: 1.5;
}

section + section {
    margin-top: 2rem;

}

a {
    text-decoration: none;
    color: inherit;
    font-size: 0.8rem;
}

a:hover {
    color: #ff00c2; /* Цвет ссылки при наведении на нее курсора мыши */ 
}

.profile {
    text-align: center;
}

.profile img {
    border-radius: 9999px;
    width: 20rem;
    height: 20rem;
}

.profile p {
    color:#888;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.contact ul {
    margin-top: -2rem;
}

ul {
    margin-left: 1rem; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    margin-bottom: 1rem;
}

li {
    list-style-type: none;/* Убираем маркеры */
}

.skills > ul > li {
    color: #11cf9d;
}
  
.contact li {
    text-align: right;
    text-transform: uppercase;
    padding: 1rem;
    color: #888;
    border-bottom: 1px solid #888;
    font-size: 0.8rem;
}

pre code {
   text-align: left;
}

.content > h3 + p {
    margin-bottom: 1rem;
    color: #333;
}
body {
    padding: 2rem 2.5rem;
    background: rgb(17,207,157);
    background: linear-gradient(90deg, rgba(68, 61, 115, 1) 20%, rgba(255,0,194,1) 100%);
    min-height: 100vh;
    justify-content: space-between;  
}

.timeline .event + .event {
    padding-top: 1rem;
}

.timeline .event {
    display: grid;
    grid-template-columns: 5ch 1fr;
}

.timeline .content {
    border-left: 1px solid #888;
    padding-left: 2rem;
    margin-left: 2rem;
}

.resume {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-gap: 4rem;
    background-color: white;
    padding: 1rem;
    max-width: 1000px;
    margin: auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.nav {
    background-image: ("./Figma Banner.jpg");
    width: 1000px;
}
.nav-list {
    width:;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
}

.section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }

.section-item a:hover {
    color: #4d2323;
}

.block_container {
    margin: 1rem;
}
.rs_logo {
    width: 5rem;
}

.git_logo {
    width: 2rem;
}

.nav-item {
    padding-right: 1rem;
}